@page
@model IntroduccionRazor.Pages.ArregloEstadisticoModel
@{
}

<!--
	Diseñar una aplicación en ASP .Net que genere un arreglo con 20 números enteros
aleatorios entre 0 y 100, muestre los números en pantalla, calcule y muestre lo
siguiente:
• La suma de los números del arreglo.
• La media aritmética (promedio).
• La moda (El o los números que más se repiten).
• La mediana el número medio.
Ejemplo:
Arreglo Aleatorio
5 78 23 16 7 0 34 56 21 49 42 34 22 12 2 31 1 82 65 23
Suma: 551
Promedio: 27.55
Arreglo Ordenado
0 1 2 5 5 7 7 12 16 19 21 23 31 34 42 49 56 61 78 82
Moda 5 y 7
Mediana (19 + 21)/2 = 20
-->


<h1> Arreglo estadístico</h1>