@page
@model IntroduccionRazor.Pages.HolaMundoRazolModelModel
@{
}


<!-- Escriimos un mensaje utilizando sintaxis de RAZOR-->
@{
	var mensaje = "Hola Mundo";
}

<p>Este es un mensaje de Bienvenida: @mensaje</p>
